html, body {
  overflow-x: hidden!important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #f9f9f9;
}

body > .header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
}

body > .header .logo {
  float: left;
  line-height: 50px;
  height: 50px;
  display: block;
  padding: 0 10px;
  width: 220px;
  font-family: 'Kaushan Script', cursive;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}


body > .header .navbar {
  height: 50px;
  margin-bottom: 0;
  margin-left: 220px;
}

body > .header .navbar .sidebar-toggle {
  float: left;
  padding: 9px 5px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 5px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}


/*Drodown in navbars*/
.skin-blue .navbar .dropdown-menu > li > a {
  color: #444444;
}